.jqTimepsaceContainer {
	--shadow: #000000;
	--border-primary: #cccccc;
	--border-secondary: #5f5f5f;
	--border-dull: #4e515c;
	--border-select: #818181;
	--border-transparent: rgba(0, 0, 0, 0);
	--bg-gradient: linear-gradient(to top, #ffffff 0%, #cacaca 20%, #474747 100%);
	--bg-primary: #555a64;
	--bg-secondary: #494e58;
	--bg-dull: #282c34;
	--bg-dull-tsp: rgba(50, 57, 68, 0.45);
	--bg-disabled: #22252c;
	--bg-error: #250000;
	--text-error: #ff6347;
	--text-primary: #ffffff;
	--text-secondary: #a0a9bd;
	--text-time: #bd4c3d;
	--text-nav: #ff7c6b;
}
