.jqTimepsaceContainer {
	--shadow: #c4c4c4;
	--border-primary: #cccccc;
	--border-secondary: #d8d8d8;
	--border-dull: #b4b4b4;
	--border-select: #9e9e9e;
	--border-transparent: rgba(255, 255, 255, 0);
	--bg-gradient: linear-gradient(to top, #444444 0%, #afafaf 15%, #ffffff 100%);
	--bg-primary: #fff9f5;
	--bg-secondary: #fffaf2;
	--bg-dull: #ffffff;
	--bg-dull-transparent: rgba(255, 255, 255, 0.45);
	--bg-disabled: #eeeeee;
	--bg-error: #ffeae1;
	--text-error: #ac0000;
	--text-primary: #000000;
	--text-secondary: #573e29;
	--text-time: #cf3b00;
	--text-nav: #ff7c6b;
}
